* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

#content {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 2.5em;
}

a {
  color: #006a86;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  color: #006a86;
  border-bottom: 1px solid #006a86;
}

.reading_type_button {
  text-transform: capitalize;
}

table,
tr,
td {
  border: 1px black solid;
  border-collapse: collapse;
}

.reading_type_button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightblue;
}

.reading_type_button:hover {
  background-color: black;
  color: white;
}
