<td id="reading_type">Type: <%= values.type %></td>
<td id="reading_type">Calories: <%= values.calories %></td>
<td id="reading_type">Distance: <%= values.distance %></td>
<td id="reading_type">Endtime: <%= values.endtime %></td>
<td id="reading_type">Steps: <%= values.steps %></td>
<td id="timestamp">Date: <%= timestamp%></td>